.badge-a {
    background-color: #dc3545; 
    color: white;
    border-radius: 5px;
    padding: 3px 8px;
    white-space: nowrap; 
}

.badge-b {
    background-color: #ffc107;
    color: black;
    border-radius: 5px;
    padding: 3px 8px;
    white-space: nowrap; 
}

.badge-c {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 3px 8px;
    white-space: nowrap; 
}

body {
    background-color: #c4c4c4;
}